<div class="filters">
    <!-- filters div -->
    <mat-form-field appearance="fill">
        <mat-label>Artist</mat-label>
        <mat-select [formControl]="artistControl">
            <mat-option *ngFor="let artist of artists" [value]="artist.id">{{artist.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Album</mat-label>
        <mat-select [formControl]="albumControl">
            <mat-option *ngFor="let album of albums" [value]="album.id">{{album.title}}</mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="search()">Search</button>
</div>

<mat-divider></mat-divider>

<table mat-table [dataSource]="tracks">
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let track"> {{track.title}} </td>
    </ng-container>

    <ng-container matColumnDef="album">
        <th mat-header-cell *matHeaderCellDef> Album </th>
        <td mat-cell *matCellDef="let track"> {{track.album?.title}} </td>
    </ng-container>

    <ng-container matColumnDef="artist">
        <th mat-header-cell *matHeaderCellDef> Artist </th>
        <td mat-cell *matCellDef="let track"> {{track.album?.artist?.name}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectAlbum(row)" class="table-row"></tr>
    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="3">No data</td>
    </tr>
</table>