<h1 mat-dialog-title> Artist details </h1>
<mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Artist name" [formControl]="artistNameControl">
    </mat-form-field>

    <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
        <mat-chip *ngFor="let album of (albums | async)" selected color="primary">
            {{ album.title }}
        </mat-chip>
    </mat-chip-list>
</mat-dialog-content>
<mat-dialog-actions>
    <button *ngIf="!this.artistDetails.readOnly" mat-raised-button color="primary">Save</button>
    <button mat-raised-button color="accent" mat-dialog-close>Close</button>
</mat-dialog-actions>