<mat-card>
    <mat-card-title> Artists</mat-card-title>
    <mat-card-content>
        <table mat-table [dataSource]="artists | async">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let artist" [class.clickable]="artist.webPage" 
                (click)="openWebPage(artist.webPage)"> {{artist.name}}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>
                    <button mat-fab color="primary" aria-label="Add" (click)="newArtist()">
                        <mat-icon>add</mat-icon>
                    </button>
                </th>
                <td mat-cell *matCellDef="let artist">
                    <button mat-icon-button color="primary" (click)="viewArtist(artist)">
                        <mat-icon>visibility</mat-icon>
                    </button>
                    <button mat-icon-button color="accent" (click)="editArtist(artist)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="2">No data</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>