mat-chip {
    display: block;
    text-align: center;
}

.album-details {
    display: flex;
    flex-flow: row;

    img {
        width: 150px;
        height: 150px;
    }
}

mat-chip-list {
    width: 100%;
}
