<mat-card>
    <mat-card-title>Album: {{ album?.title }}</mat-card-title>
    <mat-card-subtitle>Artist: {{ artist?.name }}</mat-card-subtitle>
    <mat-card-content>
        <div class="album-details">
            <img [src]="albumImage" />
            <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
                <mat-chip *ngFor="let track of tracks" selected color="primary">
                    {{track.title}} {{track.duration}}
                </mat-chip>
            </mat-chip-list>
        </div>
    </mat-card-content>
</mat-card>