.musicbox-header {
    height: 80px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;

    & > * {
        cursor: pointer;
    }
}

img {
    height: 80px;
    width: 80px;
    margin-right: 20px;
}